<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
      <div class="col">
          <div class="offset-2">
              <img class="ops" src="../../../assets/errorPage.png" width="800px" height="500px" />
          </div>
      </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
      <div class="col">
          <div class="container">
              <h3>Es posible que haya escrito la dirección incorrectamente o que haya utilizado un enlace desactualizado.
                  Borre sus cookies y vuelva a intentar la solicitud. Si el problema persiste, comuníquese a Soporte con <a class="buton" href="http://localhost:4200/juegos">Alex Gonzalez</a>. Pedimos disculpas por las
                  molestias.
               </h3>
         </div>
      </div>
  </div>
</div>
<div class="container mt-1">
  <div class="row">
      <div class="col">
             <div class="offset-5">
              <a class="btn btn-primary" href="http://localhost:4200/juegos">Volver a la pagina de inicio</a>
             </div>
      </div>
  </div>
</div><br><br>
