<nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #004b57;">
  <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../../../assets/xboxController.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
      </a>
      <a class="nav-link active text-white" aria-current="page">XGames</a>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/juegos">Todos los juegos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/masPopulares">Más populares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/masDescargados">Más descargados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/proximamente">Proximamente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/agregarJuego">Agregar</a>
        </li>
      </ul>
      <form class="d-flex">

        <a class="nav-link text-white" href="#">Salir</a>
      </form>
    </div>
  </div>
</nav>


<br><br><br><br><br><br>
